html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

@media (min-width: 300px) and (max-width: 500px) {
  nav a {
    font-size: 12px;
  }
  .slideshow-container {
    width: 350px;
    height: 195px;
  }
  .donate-button {
    font-size: 18px;
    width: 50px;
    aspect-ratio: 10/4;
  }
  nav {
    display: none;
  }
  .caption-box {
    font-size: 25px;
  }
  .caption-box p {
    font-size: 14px;
    width: 250px;
  }
  .examples-box {
    margin-bottom: 50px;
    margin-top: 40px;
  }
  .vertical-bar {
    height: 135px;
    width: 2px;
    border-radius: 2px;
  }
  .examples {
    margin: 27px;
  }
  .examples div {
    font-size: 35px;
  }
  .examples p {
    font-size: 12px;
  }
  .left {
    transform: translate(-150px, 0);
  }
  .right {
    transform: translate(150px, 0);
  }
  .summary-box {
    height: 200px;
  }
  .summary-topic {
    font-size: 23px;
    padding: 25px;
  }
  .summary-topic a {
    margin-left: 4px;
    font-size: 15px;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  nav a {
    font-size: 14px;
  }
  .slideshow-container {
    width: 450px;
    height: 250px;
  }
  .donate-button {
    font-size: 20px;
    width: 70px;
    aspect-ratio: 10/4;
  }
  nav {
    display: none;
  }
  .caption-box {
    font-size: 30px;
  }
  .caption-box p {
    font-size: 14px;
    width: 425px;
  }
  .examples-box {
    margin-bottom: 60px;
    margin-top: 50px;
  }
  .vertical-bar {
    height: 135px;
    width: 2px;
    border-radius: 2px;
  }
  .examples {
    margin: 35px;
  }
  .examples div {
    font-size: 40px;
  }
  .examples p {
    font-size: 13px;
  }
  .left {
    transform: translate(-180px, 0);
  }
  .right {
    transform: translate(180px, 0);
  }
  .summary-box {
    height: 220px;
  }
  .summary-topic {
    font-size: 26px;
    padding: 30px;
  }
  .summary-topic a {
    margin-left: 5px;
    font-size: 17px;
  }
    /* ################### who we are ################### */
    .member-photo {
      width: 475px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
  nav a {
    font-size: 16px;
  }
  .slideshow-container {
    width: 600px;
    height: 330px;
  }
  .donate-button {
    font-size: 22px;
    width: 90px;
    aspect-ratio: 10/4;
  }
  .dropbtn {
    display: none;
  }
  .caption-box {
    font-size: 40px;
  }
  .caption-box p {
    font-size: 17px;
    width: 550px;
  }
  .examples-box {
    margin-bottom: 60px;
    margin-top: 50px;
  }
  .vertical-bar {
    height: 135px;
    width: 2px;
    border-radius: 2px;
  }
  .examples {
    margin: 45px;
  }
  .examples div {
    font-size: 50px;
  }
  .examples p {
    font-size: 14px;
  }
  .left {
    transform: translate(-225px, 0);
  }
  .right {
    transform: translate(225px, 0);
  }
  .summary-box {
    height: 250px;
  }
  .summary-topic {
    font-size: 28px;
    padding: 35px;
  }
  .summary-topic a {
    margin-left: 5px;
    font-size: 20px;
  }
    /* ################### who we are ################### */
    .member-photo {
      width: 650px;
    }
}

@media (min-width: 1000px) {
  nav a {
    font-size: 17px;
  }
  .slideshow-container {
    width: 900px;
    height: 500px;
  }
  .donate-button {
    font-size: 25px;
    aspect-ratio: 10/4;
    width: 100px;
  }

  .dropbtn {
    display: none;
  }
  .caption-box {
    font-size: 50px;
  }
  .caption-box p {
    font-size: 20px;
    width: 800px;
  }
  .examples-box {
    margin-bottom: 70px;
    margin-top: 60px;
  }
  .vertical-bar {
    height: 150px;
    width: 3px;
    border-radius: 2px;
  }
  .examples {
    margin: 60px;
  }
  .examples div {
    font-size: 60px;
  }
  .examples p {
    font-size: 15px;
  }
  .left {
    transform: translate(-250px, 0);
  }
  .right {
    transform: translate(250px, 0);
  }
  .summary-box {
    height: 300px;
  }
  .summary-topic {
    font-size: 32px;
    padding: 40px;
  }
  .summary-topic a {
    margin-left: 5px;
    font-size: 22px;
  }
  /* ################### who we are ################### */
  .member-photo {
    width: 950px;
  }
}

header {
  background-color: rgb(255, 62, 159);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  /* display: inline-block; */
  margin-left: 50px;
  /* padding-top: 25px; */
  position: relative;
  padding-bottom: 0.5%;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: none;
}
.logo {
  text-decoration: none;
  text-transform: none;
  color: white;
}

nav a:hover {
  color: rgb(217, 217, 217);
}

nav a::before {
  content: "";
  display: block;
  height: 4px;
  background-color: rgb(217, 217, 217);
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}

.donate-button {
  margin-left: auto;
  border-style: none;
  border-radius: 5px;
  background-color: #ff87c1;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.donate-button:hover {
  background-color: rgba(255, 255, 255, 0.52);
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.seperator {
  aspect-ratio: 900/50;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./layer1.svg");
}

.slideshow-container {
  margin: auto;
  position: relative;
  border-style: solid;
}

.slideshow-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.selected {
  border: #717171;
  border-style: solid;
}

.layer2 {
  background-image: url("./layer2.svg");
}

.caption-box {
  height: max-content;
  background-color: #ff87c1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer3 {
  background-image: url("./layer3.svg");
}

.how-to-help-button {
  border-style: none;
  border-radius: 5px;
  background-color: #ff61b0;
  width: 120px;
  height: 40px;
  border-width: 1px;
  border-color: #424242;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.how-to-help-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.examples-box {
  height: max-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-bar {
  background-color: #000000;
}

.left {
  position: absolute;
}

.right {
  position: absolute;
}

.layer4 {
  background-image: url(./layer4.svg);
}

.summary-box {
  background-color: #ff67b0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-topic {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.summary-topic a {
  text-decoration: none;
  color: #282828;
  text-align: left;
}

.summary-topic a:hover {
  color: rgba(255, 255, 255, 0.556);
}

.dropbtn {
  margin-left: 20px;
  width: 60px;
  background-color: #00000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.dropbtn img {
  width: 100%;
  object-fit: cover;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-rotate {
  transform: rotate(180deg);
}

/* ################### who we are ################### */

.member-photo {
  border-style: solid;
  margin: auto;
  justify-content: center;
  display: flex;
}

.member-photo img {
  object-fit: cover;
  width: 100%;
}

/* ################### order bracelets ################### */

.title {
  margin-left: 30px;
  font-size: 50px;
}

.product-box {
  border-style: solid;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  height: 180px;
  position: relative;
}

.item-title {
  width: 200px;
  margin: 5px;
  font-size: 20px;
}
.product-photos {
  position: absolute;
  /* background-color: #bbb; */
  width: 35%;
  height: 100%;
  top: 0;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0;
  display: flex;
  justify-content: space-evenly;
}

.product-photos img {
  border-style: solid;
  width: 48%;
  height: 100%;
  object-fit: cover;
  background-color: #000000;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

.product-amount-boxes {
  /* background-color: #717171; */
  height: 50px;
  width: 250px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 3px;
  padding-bottom: 8px;
}

.product-amount {
  border-color: #717171;
  color: #717171;
  height: 100%;
  width: 30%;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

.order-button {
  border-radius: 8px;
  border-style: solid;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: -67px;
  font-size: 20px;
  cursor: pointer;
}

.order-button:hover {
  color: #717171;
  border-color: #717171;
}

.gimme-space{
  margin-bottom: 200px;
}